body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#header {
  background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png");
  background-size: cover;
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

#navbar {
  display: flex;
  width: 100%;
  height: 77px;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  box-sizing: border-box;
}

#navbar > div {
  padding-bottom: 10px;
}

#buy-btn {
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(170, 210, 54);
  padding: 9px 34px;
  border-radius: 4px;
  border: none;
}

#logo {
  width: 40px;
}

.dropdown-wrapper {
  display: inline-block;
  position: relative;
}

.dropdown {
  padding-top: 10px;
  transform: translate(-5px, 7px);
}

.menu-item {
  color: black;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  margin-right: 24px;
  cursor: pointer;
}

#landing-section {
  width: 100%;
  height: 100vh;
}

#main-text-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-text-wrapper h1 {
  width: 100%;
  max-width: 1100px;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 8.8px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

#main-text-wrapper p {
  width: 100%;
  max-width: 1100px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #8b8b99;
  text-align: center;
  padding-top: 32px;
}

#steps-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.step-item {
  width: 25%;
  padding: 100px 54px;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.step-item i {
  font-size: 96px;
  transition: all 0.4s;
}

#first-step:hover > i {
  transform: scale(1.12, 1.12);
}

#second-step:hover i {
  transform: scale(1.12, 1.12);
}

#third-step:hover i {
  transform: scale(1.12, 1.12);
}

#fourth-step:hover i {
  transform: scale(1.12, 1.12);
}

.step-item h3 {
  font-weight: 600;
  font-size: 24px;
}

.step-item p {
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin-top: 0;
}

#first-step {
  background-color: #5acda6;
}

#second-step {
  background-color: #91ac41;
}

#third-step {
  background-color: #e4b476;
}

#fourth-step {
  background-color: #f69dad;
}

#store-section {
  width: 100%;
  background-color: #f7eee2;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

#store-items-wrapper {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: stretch;
  margin: 0 auto;
}

#fresh-food-heading {
  color: #91ac41;
  font-size: 20px;
  font-family: "Caveat", cursive;
  font-style: italic;
  margin: 0;
  margin-top: 35px;
}

#store-section > h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

#store-desc {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin-bottom: 55px;
}

#store-items-wrapper {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: stretch;
  margin: 0 auto;
}

.store-item {
  width: 25%;
  text-align: center;
  padding: 24px;
}

.store-item h3 {
  font-size: 24px;
  font-weight: 600;
}

.store-item p {
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  color: #8b8b99;
}

.icon-wrapper {
  display: inline-block;
  background-color: #e3b375;
  border-radius: 50%;
  padding: 40px;
  color: white;
  transition: all 0.3s;
}

.icon-wrapper i {
  font-size: 60px;
}

.store-item:hover .icon-wrapper {
  transform: scale(1.12, 1.12);
}

#testimonials-section {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

#testimonials-heading {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  font-style: italic;
  margin: 0;
  margin-top: 35px;
}

#testimonials-section > h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

#testimonials-desc {
  max-width: 700px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin-bottom: 55px;
}

#testimonials-wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.testimonial-item {
  width: 25%;
  text-align: center;
  background-color: #f5f6fb;
  padding: 40px 30px;
  margin: 16px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  transition: box-shadow 0.3s;
}

.testimonial-item:hover {
  box-shadow: 5px 4px 10px #e8e8f088;
}

.testimonial-item img {
  width: 80px;
  margin-bottom: 25px;
  border-radius: 50%;
}

.testimonial-msg {
  font-size: 14px;
  color: #8b8b99;
  letter-spacing: 0.5px;
  font-style: italic;
  margin: 0;
}

.testimonial-by {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 0px;
}

.job-role {
  color: #8b8b99;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 0;
}

#follow-section {
  display: flex;
  justify-content: stretch;
}

#left-section {
  width: 67%;
  display: inline-block;
  margin: 0;
}

#left-section img {
  width: 100%;
}

#right-section {
  width: 33.33%;
  margin: 0;
  display: inline-block;
  background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png");
  background-position: left;
  background-size: cover;
}

#right-section #text-wrapper {
  margin: 115px;
}

#right-section #text-wrapper h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 0 0 8px;
}

#right-section #text-wrapper p {
  color: #8b8b99;
  font-size: 16px;
  letter-spacing: 0.5;
  line-height: 1.6;
  margin: 0;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
  outline: none;
}

#subscribe-email {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-weight: 600;
  background-color: white;
  padding: 12px;
  color: #8b8b99;
  font-size: 16px;
  margin-top: 60px;
  display: block;
}

#subscribe-email:focus {
  outline: none;
}

#subscribe-btn {
  background-color: #f69dad;
  padding: 16px 42px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 16px;
}

#subscribe-btn:hover {
  background: transparent;
  border: 1px solid #f69dad;
  color: #f69dad;
}

#stats-section {
  width: 100%;
  background-color: #f6fcfa;
}

#stats-wrapper {
  width: 100%;
  max-width: 1140px;
  padding: 100px 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: stretch;
}

.stats-item {
  width: 25%;
  padding: 0 64px;
}

.stats-item h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
}

.stats-item p {
  color: #57e3b5;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  margin: 0;
}

#video-section div {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

#video-section h3 {
  color: #8b8b99;
  font-size: 44px;
  font-weight: 400;
}

#line-separator {
  display: inline-block;
  width: 96px;
  border: none;
  height: 1px;
  background-color: #e4b476;
  margin-bottom: 36px;
}

#video-section iframe {
  width: 100%;
  height: 425px;
}

#address-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

#address-wrapper > div {
    width: 50%;
}

#address-wrapper > div:last-of-type {
    width: 40%;
}

.green-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    font-style: italic;
    margin: 0;
    margin-top: 35px;
}

.section-heading {
    font-size: 44px;
    margin: 0;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
}

.address-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 32px;
}

.address-lines {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
}

form {
    display: block;
    margin-top: 0em;
}

.input-box {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.primary-btn {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
}

#footer {
    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
}